<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sentences</key>
	<array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.95</real>
				<key>pos</key>
				<integer>317</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.04</real>
				<key>pos</key>
				<integer>427</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.97</real>
				<key>pos</key>
				<integer>543</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>166</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.8</real>
				<key>pos</key>
				<integer>312</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.7</real>
				<key>pos</key>
				<integer>434</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.5</real>
				<key>pos</key>
				<integer>578</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>111</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.7</real>
				<key>pos</key>
				<integer>227</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.7</real>
				<key>pos</key>
				<integer>350</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.44</real>
				<key>pos</key>
				<integer>456</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3.1</real>
				<key>pos</key>
				<integer>532</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3.67</real>
				<key>pos</key>
				<integer>627</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>107</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.4</real>
				<key>pos</key>
				<integer>207</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.4</real>
				<key>pos</key>
				<integer>323</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>2</integer>
				<key>pos</key>
				<integer>425</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.4</real>
				<key>pos</key>
				<integer>510</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.75</real>
				<key>pos</key>
				<integer>609</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.42</real>
				<key>pos</key>
				<integer>123</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.17</real>
				<key>pos</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.8</real>
				<key>pos</key>
				<integer>396</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.55</real>
				<key>pos</key>
				<integer>526</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3.2</real>
				<key>pos</key>
				<integer>666</integer>
			</dict>
		</array>
	</array>
	<key>Words</key>
	<array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>323</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.7</real>
				<key>pos</key>
				<integer>370</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.8</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>323</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.85</real>
				<key>pos</key>
				<integer>370</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>2.08</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3.2</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>340</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.6</real>
				<key>pos</key>
				<integer>390</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.9</real>
				<key>pos</key>
				<integer>390</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>time</key>
				<integer>0</integer>
				<key>pos</key>
				<integer>323</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>0.7</real>
				<key>pos</key>
				<integer>370</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>1.9</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
			<dict>
				<key>time</key>
				<real>3.1</real>
				<key>pos</key>
				<integer>415</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
